body{
    background: #151515;
    color: white;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 76px;
    color: #FF5E19;
    font-weight: 600;
}
p{
    font-size: 20px;
}
.header-title {
    padding-top: 140px;
}
.input{
    width: 121px;
    height: 42px;
}
.btn-aside{
    width: 221px;
    height: 42px;
}
button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #5093f8;
  color: #cdbfbf;
}
.list-item{
    height: 170px;
    width: 415px;
}
